In [5]:
import pandas as pd
import numpy as np
import string

In [1]:
# visualization

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.tools as tls
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings
from collections import Counter

In [3]:
from sklearn.cross_validation import train_test_split

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning:

This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.

In [2]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

import lightgbm as lgb
from lightgbm import LGBMClassifier

In [7]:
# Load the dataset
df = pd.read_csv("data.csv")

In [8]:
#Lets see the size of the dataframe

print(df.info)
print('DataFrame has {} columns and {} rows'.format(df.shape[1], 
                                                       df.shape[0]))

<bound method DataFrame.info of                 ID                                               name  \
0       1000002330                    The Songs of Adelaide & Abullah
1       1000003930      Greeting From Earth: ZGAC Arts Capsule For ET
2       1000004038                                     Where is Hank?
3       1000007540  ToshiCapital Rekordz Needs Help to Complete Album
4       1000011046  Community Film Project: The Art of Neighborhoo...
5       1000014025                               Monarch Espresso Bar
6       1000023410  Support Solar Roasted Coffee & Green Energy!  ...
7       1000030581  Chaser Strips. Our Strips make Shots their B*tch!
8       1000034518  SPIN - Premium Retractable In-Ear Headphones w...
9        100004195  STUDIO IN THE SKY - A Documentary Feature Film...
10       100004721                                Of Jesus and Madmen
11       100005484                                   Lisa Lim New CD!
12      1000055792                                 The Cottage Market
13      1000056157  G-Spot Place for Gamers to connect with eachot...
14      1000057089  Tombstone: Old West tabletop game and miniatur...
15      1000064368                                     Survival Rings
16      1000064918                                          The Beard
17      1000068480                   Notes From London: Above & Below
18      1000070642                Mike Corey's Darkness & Light Album
19      1000071625                                           Boco Tea
20      1000072011              CMUK. Shoes: Take on Life Feet First.
21      1000081649                   MikeyJ clothing brand fundraiser
22      1000082254                     Alice in Wonderland in G Minor
23      1000087442  Mountain brew: A quest for alcohol sustainability
24      1000091520                        The Book Zoo - A Mini-Comic
25      1000102741  Matt Cavenaugh & Jenny Powers make their 1st a...
26      1000103948                               Superhero Teddy Bear
27      1000104688                                Permaculture Skills
28      1000104953  Rebel Army Origins: The Heroic Story Of Major ...
29       100011318                      My Moon - Animated Short Film
...            ...                                                ...
378631   999832803  MONSTROCARDS- A Creative Drawing Game of Horri...
378632    99984851                                           "Loreto"
378633   999865831  STATE OF G - Men's Blazer Jacket & Women's Car...
378634   999867839                                      Transcaucasia
378635    99987261  You're Not Cis, You Just Think You Are: My Enb...
378636   999877902                      Little Saturday's Debut Album
378637   999878813                           Ways to Look at the Moon
378638   999880710                                Terminal Uniqueness
378639   999884445  Superette Tea - Boldly Caffeinated Loose Leaf Tea
378640   999893629                          Ciridian Helix (Canceled)
378641    99991751   Here is the oasis for the youngest in the world.
378642   999929142  Ã‰POUVANTAILS : 28mm Figurines de jeux pour KIN...
378643   999931480                     Google Glass Shield (Canceled)
378644   999934908                               The Manual Bar Blade
378645   999941823        The Chronicles of Erinoth - A Graphic Novel
378646   999943841                                The Dog Coffee Book
378647   999950812                              The Cease is Increase
378648   999955533        Cards and Chit Network Season 2! (Canceled)
378649   999963618      Colorado International Activism Film Festival
378650    99996661                         Date Seat - Boston iOS App
378651   999969812                                       AT THE BEACH
378652   999971898                        Beach Wrestling Documentary
378653   999972264                                            Islanda
378654   999975836              Homemade fresh dog food, Cleveland OH
378655   999976312                         Angela's Poetry (Canceled)
378656   999976400  ChknTruk Nationwide Charity Drive 2014 (Canceled)
378657   999977640                                          The Tribe
378658   999986353  Walls of Remedy- New lesbian Romantic Comedy f...
378659   999987933                           BioDefense Education Kit
378660   999988282                  Nou Renmen Ayiti!  We Love Haiti!

                category main_category currency    deadline      goal  \
0                 Poetry    Publishing      GBP  2015-10-09    1000.0
1         Narrative Film  Film & Video      USD  2017-11-01   30000.0
2         Narrative Film  Film & Video      USD  2013-02-26   45000.0
3                  Music         Music      USD  2012-04-16    5000.0
4           Film & Video  Film & Video      USD  2015-08-29   19500.0
5            Restaurants          Food      USD  2016-04-01   50000.0
6                   Food          Food      USD  2014-12-21    1000.0
7                 Drinks          Food      USD  2016-03-17   25000.0
8         Product Design        Design      USD  2014-05-29  125000.0
9            Documentary  Film & Video      USD  2014-08-10   65000.0
10            Nonfiction    Publishing      CAD  2013-10-09    2500.0
11            Indie Rock         Music      USD  2013-04-08   12500.0
12                Crafts        Crafts      USD  2014-10-02    5000.0
13                 Games         Games      USD  2016-03-25  200000.0
14        Tabletop Games         Games      GBP  2017-05-03    5000.0
15                Design        Design      USD  2015-02-28    2500.0
16           Comic Books        Comics      USD  2014-11-08    1500.0
17             Art Books    Publishing      USD  2015-05-10    3000.0
18                 Music         Music      USD  2012-08-17     250.0
19                  Food          Food      USD  2012-06-02    5000.0
20               Fashion       Fashion      USD  2013-12-30   20000.0
21         Childrenswear       Fashion      AUD  2017-09-07    2500.0
22               Theater       Theater      USD  2014-06-15    3500.0
23                Drinks          Food      NOK  2015-02-25     500.0
24                Comics        Comics      USD  2014-11-12     175.0
25                 Music         Music      USD  2011-01-06   10000.0
26                   DIY        Crafts      GBP  2016-01-05   12000.0
27             Webseries  Film & Video      CAD  2014-12-14   17757.0
28                Comics        Comics      GBP  2016-01-28     100.0
29             Animation  Film & Video      USD  2017-05-03   50000.0
...                  ...           ...      ...         ...       ...
378631     Playing Cards         Games      USD  2014-10-03   10000.0
378632            Comedy  Film & Video      USD  2014-06-05   12000.0
378633           Apparel       Fashion      USD  2014-12-13   25000.0
378634       Photography   Photography      USD  2011-01-08    4000.0
378635        Nonfiction    Publishing      USD  2015-09-24     800.0
378636    Country & Folk         Music      CAD  2014-12-17    5000.0
378637            Shorts  Film & Video      USD  2017-10-13   10000.0
378638        Nonfiction    Publishing      USD  2014-08-15    5000.0
378639            Drinks          Food      USD  2015-12-03    5000.0
378640           Fiction    Publishing      USD  2014-09-11    1000.0
378641    Product Design        Design      CHF  2015-09-04   80000.0
378642    Tabletop Games         Games      EUR  2017-10-31    1000.0
378643       3D Printing    Technology      USD  2014-05-26    6500.0
378644    Product Design        Design      USD  2015-12-15    3500.0
378645            Comics        Comics      GBP  2013-10-10   16000.0
378646  Children's Books    Publishing      USD  2013-11-30     950.0
378647        Nonfiction    Publishing      USD  2012-09-14    4999.0
378648    Tabletop Games         Games      USD  2016-02-23     500.0
378649    Narrative Film  Film & Video      USD  2017-04-09     500.0
378650              Apps    Technology      USD  2016-09-05    6000.0
378651   Classical Music         Music      CAD  2014-03-22    5000.0
378652       Documentary  Film & Video      NOK  2015-04-28   20000.0
378653       Documentary  Film & Video      USD  2012-03-16    1700.0
378654       Small Batch          Food      USD  2017-04-19    6500.0
378655            Poetry    Publishing      CAD  2014-09-20    5500.0
378656       Documentary  Film & Video      USD  2014-10-17   50000.0
378657    Narrative Film  Film & Video      USD  2011-07-19    1500.0
378658    Narrative Film  Film & Video      USD  2010-08-16   15000.0
378659        Technology    Technology      USD  2016-02-13   15000.0
378660   Performance Art           Art      USD  2011-08-16    2000.0

                   launched   pledged       state  backers country  \
0       2015-08-11 12:12:28      0.00      failed        0      GB
1       2017-09-02 04:43:57   2421.00      failed       15      US
2       2013-01-12 00:20:50    220.00      failed        3      US
3       2012-03-17 03:24:11      1.00      failed        1      US
4       2015-07-04 08:35:03   1283.00    canceled       14      US
5       2016-02-26 13:38:27  52375.00  successful      224      US
6       2014-12-01 18:30:44   1205.00  successful       16      US
7       2016-02-01 20:05:12    453.00      failed       40      US
8       2014-04-24 18:14:43   8233.00    canceled       58      US
9       2014-07-11 21:55:48   6240.57    canceled       43      US
10      2013-09-09 18:19:37      0.00      failed        0      CA
11      2013-03-09 06:42:58  12700.00  successful      100      US
12      2014-09-02 17:11:50      0.00      failed        0      US
13      2016-02-09 23:01:12      0.00      failed        0      US
14      2017-04-05 19:44:18  94175.00  successful      761      GB
15      2015-01-29 02:10:53    664.00      failed       11      US
16      2014-10-09 22:27:52    395.00      failed       16      US
17      2015-04-10 21:20:54    789.00      failed       20      US
18      2012-08-02 14:11:32    250.00  successful        7      US
19      2012-05-03 17:24:32   1781.00      failed       40      US
20      2013-11-25 07:06:11  34268.00  successful      624      US
21      2017-08-08 01:20:20      1.00      failed        1      AU
22      2014-05-16 10:10:38    650.00      failed       12      US
23      2015-01-26 19:17:33     48.00      failed        3      NO
24      2014-10-23 17:15:50    701.66  successful       66      US
25      2010-12-07 23:16:50  15827.00  successful      147      US
26      2015-12-06 20:09:06      0.00      failed        0      GB
27      2014-11-14 18:02:00  48905.00  successful      571      CA
28      2015-12-29 16:59:29    112.38  successful       27      GB
29      2017-04-03 17:11:33  57577.31  successful      840      US
...                     ...       ...         ...      ...     ...
378631  2014-09-03 19:53:50  13861.50  successful      413      US
378632  2014-05-06 23:50:34      0.00      failed        0      US
378633  2014-11-13 17:16:17  11643.00      failed       97      US
378634  2010-11-08 02:43:59   3531.00      failed       37      US
378635  2015-08-25 22:37:14     70.00      failed        5      US
378636  2014-11-17 17:50:12   5435.00  successful       78      CA
378637  2017-08-29 06:57:28  10245.00  successful      123      US
378638  2014-07-15 02:10:39     18.00      failed        5      US
378639  2015-11-03 13:04:14   5579.00  successful      103      US
378640  2014-08-08 21:49:31    100.00    canceled        2      US
378641  2015-07-06 18:00:47      0.00      failed        0      CH
378642  2017-10-04 11:26:44   1246.00  successful       35      FR
378643  2014-05-05 20:22:45      0.00    canceled        0      US
378644  2015-11-23 07:33:14   6169.00  successful      120      US
378645  2013-09-10 22:45:26   2738.00      failed       38      GB
378646  2013-10-18 21:35:04   1732.02  successful       31      US
378647  2012-08-15 17:11:00    980.00      failed       16      US
378648  2016-01-24 16:03:27    121.00    canceled        5      US
378649  2017-02-08 02:28:44    135.00      failed        6      US
378650  2016-07-29 15:36:29      0.00      failed        0      US
378651  2014-02-20 01:00:16   5501.00  successful       78      CA
378652  2015-03-29 21:30:33  21500.00  successful       36      NO
378653  2012-02-15 04:31:10     25.00      failed        1      US
378654  2017-03-20 22:08:22    154.00      failed        4      US
378655  2014-08-06 03:46:07      0.00    canceled        0      CA
378656  2014-09-17 02:35:30     25.00    canceled        1      US
378657  2011-06-22 03:35:14    155.00      failed        5      US
378658  2010-07-01 19:40:30     20.00      failed        1      US
378659  2016-01-13 18:13:53    200.00      failed        6      US
378660  2011-07-19 09:07:47    524.00      failed       17      US

        usd pledged  usd_pledged_real  usd_goal_real
0              0.00              0.00        1533.95
1            100.00           2421.00       30000.00
2            220.00            220.00       45000.00
3              1.00              1.00        5000.00
4           1283.00           1283.00       19500.00
5          52375.00          52375.00       50000.00
6           1205.00           1205.00        1000.00
7            453.00            453.00       25000.00
8           8233.00           8233.00      125000.00
9           6240.57           6240.57       65000.00
10             0.00              0.00        2406.39
11         12700.00          12700.00       12500.00
12             0.00              0.00        5000.00
13             0.00              0.00      200000.00
14         57763.78         121857.33        6469.73
15           664.00            664.00        2500.00
16           395.00            395.00        1500.00
17           789.00            789.00        3000.00
18           250.00            250.00         250.00
19          1781.00           1781.00        5000.00
20         34268.00          34268.00       20000.00
21             0.00              0.81        2026.10
22           650.00            650.00        3500.00
23             6.18              6.29          65.55
24           701.66            701.66         175.00
25         15827.00          15827.00       10000.00
26             0.00              0.00       17489.65
27         43203.25          42174.03       15313.04
28           167.70            160.60         142.91
29         10120.00          57577.31       50000.00
...             ...               ...            ...
378631     13861.50          13861.50       10000.00
378632         0.00              0.00       12000.00
378633     11643.00          11643.00       25000.00
378634      3531.00           3531.00        4000.00
378635        70.00             70.00         800.00
378636      4814.88           4686.96        4311.83
378637       145.00          10245.00       10000.00
378638        18.00             18.00        5000.00
378639      5579.00           5579.00        5000.00
378640       100.00            100.00        1000.00
378641         0.00              0.00       82207.27
378642        66.72           1452.47        1165.70
378643         0.00              0.00        6500.00
378644      6169.00           6169.00        3500.00
378645      4281.15           4374.99       25566.05
378646      1732.02           1732.02         950.00
378647       980.00            980.00        4999.00
378648       121.00            121.00         500.00
378649        45.00            135.00         500.00
378650         0.00              0.00        6000.00
378651      5019.92           4983.69        4529.81
378652      2698.97           2875.83        2675.19
378653        25.00             25.00        1700.00
378654         0.00            154.00        6500.00
378655         0.00              0.00        4949.60
378656        25.00             25.00       50000.00
378657       155.00            155.00        1500.00
378658        20.00             20.00       15000.00
378659       200.00            200.00       15000.00
378660       524.00            524.00        2000.00

[378661 rows x 15 columns]>
DataFrame has 15 columns and 378661 rows

In [9]:
# Peeking at the data
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [10]:
df.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [11]:
print(df.nunique())

ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64